@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0.5rem;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #4f6ab0;
    border-radius: 1rem;
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #4f6ab0;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4f6ab0;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    background: #efefef;
    border-radius: 4px;
    height: 110%;
  }
  .scrollbar::-webkit-scrollbar-track:hover,
  .scrollbar::-webkit-scrollbar-track:active {
    background: #fbfbfb;
  }

  input.switch:checked ~ .dot {
    transform: translateX(100%);
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-number-input input:focus {
    outline: none !important;
  }
}
